body {
    display: flex;
    height:100vh;
    width:100vw;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0;
    background-color: #1F2937;
    color: #FFFFFF;
}

h1 {
    font-family: 'Karla', sans-serif;
    font-size: 40px;
    margin: 0;
}

p, button, div {
    font-family: 'Inter', sans-serif;
}

p {
    margin:10px 0;
    font-size: 20px;
}

#password-section {
    margin: 51px 0 0 0;
}

button {
    color:#ffffff;
    background-color: #10b981c3;
    border: none;
    border-radius: 6px;
    padding: 9px 17px 9px 15px;
    font-size: 16px;
}

button:hover {
    background-color: #0ea472;
}

button:active {
    transform: scale(0.98);
}

#separator {
    margin: 35px 0 0 0;
    border-bottom: 1px solid #2F3E53;
}

#passwords {
    margin: 35px 0 0 0;
    display: flex;
    column-gap: 24px;
}

.highlight {
    color:#4ADF86;
}

.password {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #273549;
    border-radius: 6px;
    font-size: 16px;
    height: 40px;
    width: 212px;
}