/* CSS variables */
:root {
    --primary-color: #AEADF0;
    --hover-color: #D8DCFF;
    --background-color: #1F2937;
    --text-color: #FFFFFF;
    --header-font-size: 2.5rem;
    --body-font-size: 1.25rem;
    --border-radius: 0.4em;
}

/* Aligning main content div */
body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0 1em;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Karla', sans-serif;
    font-size: var(--header-font-size);
    margin: 0;
}

.highlight {
    color: var(--primary-color);
    font-style: normal;
}

p, button, div {
    font-family: 'Inter', sans-serif;
}

p {
    margin: 1em 0;
    font-size: var(--body-font-size);
}

#generateInput {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

button {
    color: var(--text-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: var(--border-radius);
    padding: 0.8em 1.2em;
    font-size: 16px;
}

button:hover {
    background-color: var(--hover-color);
}

button:active {
    transform: scale(0.98);
}

#separator {
    display: none;
    margin: 1em 0 0 0;
    border-bottom: 1px solid #2F3E53;
}

#passwords {
    display: none;
}

.password {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #273549;
    border-radius: var(--border-radius);
    font-size: var(--body-font-size);
    height: 2em;
    width: fit-content;
    padding: 0 1em;
}