/* CSS variables */
:root {
    --primary-color: #4ADF86;
    --hover-color: #0ea472;
    --background-color: #1F2937;
    --text-color: #FFFFFF;
    --header-font-size: 2.5rem;
    --body-font-size: 1.25rem;
}

/* Aligning main content div */
body {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

h1 {
    font-family: 'Karla', sans-serif;
    font-size: var(--header-font-size);
    margin: 0;
}

.highlight {
    color: var(--primary-color);
    font-style: normal;
}

p, button, div {
    font-family: 'Inter', sans-serif;
}

p {
    margin:10px 0;
    font-size: var(--body-font-size);
}

#password-section {
    margin: 51px 0 0 0;
}

#generateInput {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

button {
    color: var(--text-color);
    background-color: #10b981c3;
    border: none;
    border-radius: 6px;
    padding: 0.8em 1.2em;
    font-size: 16px;
}

button:hover {
    background-color: var(--hover-color);
}

button:active {
    transform: scale(0.98);
}

#separator {
    margin: 35px 0 0 0;
    border-bottom: 1px solid #2F3E53;
}

#passwords {
    display: none;
}

.password {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #273549;
    border-radius: 6px;
    font-size: 16px;
    height: 40px;
    width: 212px;
}